---
layout: default
title: Memorials & Media
permalink: /memorials/
navigation_weight: 2

---
<div class="container-fluid">
    <div class="row insideHeader red">
        <div class="col-lg-5 offset-lg-1">
            <img src="/images/memorial-header@2x.png" alt="">
        </div>
        <div class="col-lg-5 insideHeader_content">
            <h1>{{ page.title | escape }}</h1>
            <p>When someone close to us passes away suddenly, our natural reaction is of shock, disbelief and emotionalpain. A common reaction is to want to do something to remember and celebrate the life of the person who has died. Somepeople may wish to hold remembrance events or memorials to celebrate their loved one’s life. While this can help people togrieve it is can leave people very vulnerable.</p>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="container-fluid">
        <div class="row">
            {% assign counttwo = 1 %}
            {% for memorial_single in site.data.memorial_content %}
            <div id="fullContent" class="col-lg-10 offset-lg-1">
                <div id="collapse{{counttwo}}" class="collapse " aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="services_single">
                        <h1>{{memorial_single.service}}</h1>
                        <p class="services_single_blurb">{{memorial_single.blurb}}</p>
                        <p>{{memorial_single.content}}</p>
                        
                        <ul>
                            {% for item in memorial_single.orderedlist %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>

                        {% if memorial_single.download %}
                            <div class="services_dl red position-relative">
                                <h3>Download</h3>
                                <a target="_blank" class="hiddenLink" href="{{memorial_single.download}}"></a>
                            </div>
                        {% endif %}
                        {% if memorial_single.extracontent %}
                            {{memorial_single.extracontent}}
                        {% endif %}

                    </div>
                </div>
            </div>
            {% assign counttwo = counttwo | plus: 1 %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid services">
        <div class="row">
            {% assign count = 1 %}
            {% for memorial_single in site.data.memorial_content %}
    
            <div class="col-md-6 services_btn text-center position-relative">
                <div class="services_btn_imageWrap d-flex align-items-center">
                    <img src="{{memorial_single.icon}}" alt="">
                </div>
                <h3>{{memorial_single.service}}</h3>
                <p>{{memorial_single.blurb}}</p>
                <a href="">MORE</a>
                <a type="button" data-toggle="collapse" data-target="#collapse{{count}}"
                aria-expanded="false" aria-controls="collapse{{count}}" class="hiddenLink services collapsed"></a>
            </div>
            {% assign count = count | plus: 1 %}
            {% endfor %}
    
        </div>
    </div>
</div>

<div class="container-fluid">
    {%- include self-care.html -%}
    {%- include safe-search.html -%}
</div>


<!-- 
<div class="container-fluid">
    <div class="row">
        {% assign counttwo = 1 %}
        {% for memorial_single in site.data.memorial_content %}
            <div class="col-lg-12 ">
                <div class="collapse multi-collapse" id="multiCollapseExample{{counttwo}}">
                    <div class="">
                        <h2>{{memorial_single.service}}</h2>
                        <p>{{memorial_single.blurb}}</p>
                        <p>{{memorial_single.content}}</p>
                    </div>
                </div>
            </div>
        {% assign counttwo = counttwo | plus: 1 %}
        {% endfor %}
    </div>
</div>


<div class="container-fluid services">
    
    <div class="row">

        {% assign count = 1 %}
        {% for memorial_single in site.data.memorial_content %}
            
            <div class="col-md-6 services_single text-center position-relative">
                <img src="{{memorial_single.icon}}" alt="">
                <h3>{{memorial_single.service}}</h3>
                <p>{{memorial_single.blurb}}</p>
                <a href="">MORE</a>
                <a data-toggle="collapse" href="#multiCollapseExample{{count}}" role="button" aria-expanded="false"
                    aria-controls="multiCollapseExample{{count}}" class="hiddenLink"></a>
            </div>
            {% assign count = count | plus: 1 %}
        {% endfor %}
        
    </div>
</div> -->



