---
layout: default
title: Safe Search
permalink: /safe-search/
navigation_weight: 4
---

<div class="container-fluid">
    <div class="row insideHeader green">
        <div class="col-lg-5 offset-lg-1">
            <img src="/images/safesearch-header@2x.png" alt="">
        </div>
        <div class="col-lg-5 insideHeader_content">
            <h1>{{ page.title | escape }}</h1>
            <p>It is acknowledged that this is an extremely difficult time for the family, and naturally relatives will want to do all that they can to help find their loved one. However, it is important that the safety of the family and thewid public is also protected at all times during this search process.</p>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="container-fluid">
        <div class="row">
            {% assign counttwo = 1 %}
            {% for safesearch_single in site.data.safesearch_content %}
            <div id="fullContent" class="col-lg-10 offset-lg-1">
                <div id="collapse{{counttwo}}" class="collapse " aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="services_single">
                        <h1>{{safesearch_single.service}}</h1>
                        <p class="services_single_blurb">{{safesearch_single.blurb}}</p>
                        <p>{{safesearch_single.content}}</p>

                        <ul>
                        {% for item in safesearch_single.orderedlist %}
                            <li>{{ item }}</li>
                        {% endfor %}
                        </ul>
                        <!-- {% if safesearch_single.orderedlist %} -->
                            
                            <!-- {% for service in site.data.safesearch_content %} -->
                                <!-- <ul>
                                    {% for item in service.orderedlist %}
                                        <li>{{item}}</li>
                                    {% endfor %}
                                    <br><br>
                                </ul> -->
                            <!-- {% endfor %} -->
                            
                        <!-- {% endif %} -->

                        {% if safesearch_single.download %}
                            <div class="services_dl green position-relative">
                                <h3>Download</h3>
                                <a class="hiddenLink" href="{{safesearch_single.download}}"></a>
                            </div>
                        {% endif %}
                        {% if safesearch_single.extracontent %}
                            {{safesearch_single.extracontent}}
                        {% endif %}
                        
                    </div>
                </div>
            </div>
            {% assign counttwo = counttwo | plus: 1 %}
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid services">
        <div class="row">
            {% assign count = 1 %}
            {% for safesearch_single in site.data.safesearch_content %}

            <div class="col-md-6 services_btn text-center position-relative">
                <div class="services_btn_imageWrap d-flex align-items-center">
                    <img src="{{safesearch_single.icon}}" alt="">
                </div>
                <h3>{{safesearch_single.service}}</h3>
                <p>{{safesearch_single.blurb}}</p>
                <a href="">MORE</a>
                <a type="button" data-toggle="collapse" data-target="#collapse{{count}}" aria-expanded="true"
                    aria-controls="collapse{{count}}" class="hiddenLink services collapsed"></a>
            </div>
            {% assign count = count | plus: 1 %}
            {% endfor %}

        </div>
    </div>
</div>


<div class="container-fluid">
    {%- include memorials.html -%}
    {%- include self-care.html -%}
</div>