

  <div class="container-fluid ">

    <div class="row footerWrap">
      <div class="col-lg-5 offset-lg-1">
        <a href="/">
          <img class="footerWrap_logo" src="/images/footer-logo.svg" alt="">
        </a>
      </div>
      <div class="col-lg-5 align-self-center">
        <div class="trigger text-right ">
          <!-- <ul class="footerWrap_nav">
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li>
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </li> 
            {%- endif -%}
            {%- endfor -%}
          </ul> -->

            <ul class="footerWrap_nav">
              {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
              {% for p in navigation_pages %}
              {% if p.navigation_weight %}
              <li>
                <a class="page-link" href="{{ p.url }}" {% if p.url == page.url %}class="active" {% endif %}>
                  {{ p.title }}
                </a>
              </li>
              {% endif %}
              {% endfor %}
            </ul>

        </div>
      </div>
    </div>

  </div>

      <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
      
      <!-- <script src="{{ base.url | prepend: site.url }}/js/bootstrap.min.js"></script>
      <script src="{{ base.url | prepend: site.url }}/js/bootstrap.bundle.min.js"></script> -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

