<div class="memorialsLink row position-relative">
    <div class="col-lg-3 offset-lg-1">
        <img class="icon" src="/images/memorial-header@2x.png" alt="">
    </div>
    <div class="col-lg-5">
        <h3>Memorials & Media</h3>
        <p>When someone close to us passes away suddenly, our natural reaction is of shock, disbelief and emotional pain. A common
        reaction is to want to do something to remember and celebrate the life of the person who has died. Some people may wish
        to hold remembrance events or memorials to celebrate their loved one’s life. While this can help people to grieve, it is
        important to note that, when someone has taken their own life, the impact on their family, friends and community can
        leave people very vulnerable.</p>
    </div>
    <div class="col-lg-2 col-md-3">
        <img class="memorialsLink--arrow" src="/images/arrow-icon.svg" alt="">
        <p>Support</p>

    </div>
    <a class="hiddenLink" href="/memorials/"></a>
</div>