<div class="safeSearchLink row">
    <div class="col-md-8">
        <h3>Safe Search</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
            lobortis nisl
            ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="col-lg-3 col-md-3 offset-lg-1 offset-md-1">
        <img src="/images/arrow-icon@2x.png" alt="">
        <p>Memorials</p>

    </div>
</div>