<div class="safeSearchLink row position-relative">
    <div class="col-lg-3 offset-lg-1">
        <img class="icon" src="/images/safesearch-header@2x.png" alt="">
    </div>
    <div class="col-lg-5 ">
        <h3>Safe Search</h3>
        <p>It is recognised that this will be an extremely stressful and distressing time for the family and it is important that everyone looks after their own wellbeing throughout this process. Shock and grief are normal reactions to such distressing news. It is important that you look after one another and support each other through the process.</p>
    </div>
    <div class="col-lg-2 col-md-3">
        <img class="safeSearchLink--arrow" src="/images/arrow-icon.svg" alt="">
        <p>Memorials</p>

    </div>
    <a class="hiddenLink" href="/safe-search/"></a>
</div>