

$red: #EE694E;
$green: #2AA680;
$purple: #6C66A3;
$orange: #FF7F40;
$grey: #E5E6E6;
$black: #545453;
$yellow: #E8AF01;

*{
    -webkit-font-smoothing: antialiased;
}

body{
    font-family: proxima-nova, sans-serif;
    font-size: 106.3%;
    font-weight: 400;
    line-height: 25px;
    color: #59595B;
    background-color: #fff;
}

h1,h2,h3,h4,h5{
    font-weight: 900;
    letter-spacing: 1px;
}

.container-fluid{
    max-width: 1350px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.box{
    &_red{
        background-color: $red;
        padding: 70px;
        color: #ffffff;
    }
    &_green{
        background-color: $green;
        padding: 70px 20% 70px 70px;
        color: #ffffff;
    }
}

.fontColor{
    &--green{
        color: $green;
    }&--orange{
        color: $orange;
    }
    &--yellow{
        color: $yellow;
    }
}

.hiddenLink{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.4s ease-out;
    &.services{
        opacity: 0.5;
        background-color: gray;
        -webkit-appearance: unset;
    }
    &.collapsed{
        opacity: 0;
        background-color: transparent;
        transition: all 0.4s ease-out;
        // -webkit-appearance: unset;
    }
}

// .accordion{
//     $parent: &;
//     .collapse{
//         &.show{
//             #{$parent}{
//                 .hiddenLink{

//                 }
//             }
//         }
//     } 
// }

//homepage

.introBox{
    img{
        max-width: 200px;
        width: 100%;
        margin: 40px 0;
    }
    p{
        font-size: 1.471em;
        line-height: 30px;
    }
    span{
        font-weight: 700;
    }
}

.selfCareLink,.safeSearchLink,.memorialsLink{
    color: #fff;
    padding: 90px 40px 50px 60px;
    h3{
        font-weight: 900;
        font-size: 2.000em;
    }
    p{
        font-weight: 700;
    }
    .icon{
        max-width: 170px;
    }
    div{
        &:last-of-type{
            text-align: center;
            img{
                margin-top: 30px;
                margin-bottom: 22px;
            }
        }
    }
    &--arrow{
        max-width: 25px;
        width: 100%;
    }
}

.selfCareLink{
    background-color: $yellow;
}

.safeSearchLink{
    background-color: $green;
}

.memorialsLink{
    background-color: $red;
}


.searchRoles{
    // overflow: hidden;
    // display: table;
    // width: 100%;
    background-color: $green;
    color: #ffff;
    h3{
        font-weight: 700;
    }
    &_title{
        padding-top: 50px;
    }
    &_single{
        padding: 50px 0;
        img{
            max-width: 160px;
            max-height: 140px;
        }
        img{
            margin-bottom: 20px;
        }
        a{
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.188em;
        }
    }
}

.nav-absolute{
    left: 15px;
    bottom: 0;
    position: absolute;
}

.partners{
    &_title{
        background-color: $black;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        h2{
            margin-bottom: 0;
        }
    }
    &_text{
        padding-top: 30px;
    }
    &_single{
        padding-top: 50px;
        
        div{
            border-bottom: 2px solid $grey;
            padding-bottom: 20px;
        }
        h4{
            text-transform: uppercase;
            font-weight: 400;
        }
        img{
            // margin-left: auto;
            // margin-right: auto;
            // display: block;
        }
        ul{
            padding: 0;
            margin: 40px 0 0 0;
            li{
                list-style: none;
                font-weight: 700;
                margin-bottom: 10px;
                font-size: 1.500em;
                img{
                    max-width: 30px;
                }
            }
        }
        a{
            color: inherit;
        }
    }
}

.header{
    img{
        width: 100%;
    }
}

//homepage end

//Header

.site-nav{
    label{
        margin-bottom: 0;
    } 
}

.logOut{
    background-color: $green;
    max-width: 130px;
    a{
        color: #fff;
    }
}

.user{
    margin-top: 68px;
    margin-bottom: 0;
    margin-right: 15px;
    font-weight: 600;
    color: $green;
}

.site-nav{
    z-index: 1;
}

.site-nav{
    label{
        display: none;
    }
    .active{
        color: $green;
        font-weight: 700;
        border-bottom: 2px solid $green;
    }
}

.site-header{
    padding: 17px 0;
    border-bottom: none;
    &_logo{
        width: 200px;
    }
    &_banner{
        margin: 0 auto;
        display: block;
    }
}

// .mw-wrap{
//     max-width: 1300px;
//     width: 100%;
//     margin-left: auto;
//     margin-right: auto;
// }

//Header end

//footer

.footerWrap{
    background-color: $grey;
    padding: 50px;
    &_logo{
        max-width: 150px;
        width: 100%;
    }
    &_nav{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
            display: inline-block;
            margin-right: 15px;
            a{
                position: relative;
                color: $black;
                &:after{
                    position: absolute;
                    content: url('../images/nav-heart.svg');
                    right: -16px;
                    top: -3px;
                    width: 11px;
                }
            }
            &:last-of-type{
                a{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
}

//footer end

//Inside Header

.insideHeader{
    color: #fff;
    padding: 70px 0;
    &.red{
        background-color: $red;
    }
    &.green{
        background-color: $green;
    }
    &.yellow{
        background-color: $yellow;
    }
    &_content{
        padding-top: 40px;
    }
}

//Inside Header end


//Services

.services{
    &_btn{
        background-color: #fff;
        padding: 60px;
        &_imageWrap{
            height: 189px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
        img{
            max-width: 135px;
            max-height: 180px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;
        }
        &:nth-of-type(4n+2),&:nth-of-type(4n+3){
            background-color: $grey;
        }
        a{
            font-weight: 700;
            color: $black;
            text-transform: uppercase;
            font-size: 1.188em;
        }
    }
    &_dl{
        padding: 14px 60px;
        color: #fff;
        display: table;
        width: fit-content;
        h3{
            line-height: 1;
            margin-bottom: 0;
        }
        &.orange{
            background-color: $orange;
        }
        &.green{
            background-color: $green;
        }
        &.red{
            background-color: $red;
        }
    }
    &_single{
        h1{
            margin-bottom: 30px;
        }
        padding: 90px 0;
        &_blurb{
            font-size: 1.412em;
        }
        ul{
            list-style-type: decimal;
            padding: 0;
            margin: 0;
            margin: 0 0 0 20px;
            font-size: 1.412em;
            li{
                margin-bottom: 20px;
                padding-left: 15px;
            }
        }
    }
}

//Services END

//Comic Strip

.hideme{
    opacity:0;
}

.comic{
    &_single{
        padding: 40px 0;
        &_extra{
            color: $orange;
            font-weight: 700;
            ul{
                margin: 0;
                padding: 0;
                li{
                    list-style: none;
                }
            }
            img{
                float: left;
                margin-top: 6px;
            }
        }
    }
}

//Comic Strip END


.col-xs-offset-right-12 {
  margin-right: 100%;
}
.col-xs-offset-right-11 {
  margin-right: 91.66666667%;
}
.col-xs-offset-right-10 {
  margin-right: 83.33333333%;
}
.col-xs-offset-right-9 {
  margin-right: 75%;
}
.col-xs-offset-right-8 {
  margin-right: 66.66666667%;
}
.col-xs-offset-right-7 {
  margin-right: 58.33333333%;
}
.col-xs-offset-right-6 {
  margin-right: 50%;
}
.col-xs-offset-right-5 {
  margin-right: 41.66666667%;
}
.col-xs-offset-right-4 {
  margin-right: 33.33333333%;
}
.col-xs-offset-right-3 {
  margin-right: 25%;
}
.col-xs-offset-right-2 {
  margin-right: 16.66666667%;
}
.col-xs-offset-right-1 {
  margin-right: 8.33333333%;
}
.col-xs-offset-right-0 {
  margin-right: 0;
}
@media (min-width: 768px) {
  .col-sm-offset-right-12 {
    margin-right: 100%;
  }
  .col-sm-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-sm-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-sm-offset-right-9 {
    margin-right: 75%;
  }
  .col-sm-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-sm-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-sm-offset-right-6 {
    margin-right: 50%;
  }
  .col-sm-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-sm-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-sm-offset-right-3 {
    margin-right: 25%;
  }
  .col-sm-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-sm-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .col-md-offset-right-12 {
    margin-right: 100%;
  }
  .col-md-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-md-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-md-offset-right-9 {
    margin-right: 75%;
  }
  .col-md-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-md-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-md-offset-right-6 {
    margin-right: 50%;
  }
  .col-md-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-md-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-md-offset-right-3 {
    margin-right: 25%;
  }
  .col-md-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-md-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .col-lg-offset-right-12 {
    margin-right: 100%;
  }
  .col-lg-offset-right-11 {
    margin-right: 91.66666667%;
  }
  .col-lg-offset-right-10 {
    margin-right: 83.33333333%;
  }
  .col-lg-offset-right-9 {
    margin-right: 75%;
  }
  .col-lg-offset-right-8 {
    margin-right: 66.66666667%;
  }
  .col-lg-offset-right-7 {
    margin-right: 58.33333333%;
  }
  .col-lg-offset-right-6 {
    margin-right: 50%;
  }
  .col-lg-offset-right-5 {
    margin-right: 41.66666667%;
  }
  .col-lg-offset-right-4 {
    margin-right: 33.33333333%;
  }
  .col-lg-offset-right-3 {
    margin-right: 25%;
  }
  .col-lg-offset-right-2 {
    margin-right: 16.66666667%;
  }
  .col-lg-offset-right-1 {
    margin-right: 8.33333333%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .partners{
    &_single{
      border-bottom: 2px solid #E5E6E6;
      div{
        border: 0;
      }
    }
  }
}

@media (max-width: 575px) {
    .site-title{
        position: relative!important;
        padding-left: 22px;
    }
    .site-nav{
        right: 52px;
    }
}

